<div class="container">
	<div id="errorMessage" class="text-center">
		<h1>400 Bad Request</h1>
		<h3>Null or Invalid content entered. Please enter a valid name, or navigate away from this site.</h3>
		<h4>{{error}}</h4>
		<div class="options text-left">
			<h3>Your options:</h3>
			<li>"Alright, I'll be a good user - Take me to the <a href="/">burger page</a>."</li>
			<li>"Whatever, dude! I'll do what I want! You're not the boss of me!" <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=why+am+i+such+a+pain">I'm awesome!</a></li>
		</div>
	</div>
	<video id="burgerVid" playsinline autoplay muted loop>
        <source src="/assets/img/stockBurger.mp4" type="video/mp4">
    </video>
</div>